html, body {
  margin: 0;
  padding: 0;
  color: white;
  .App {
    padding: 30px;
     .Wrapper{
        display: flex;
         justify-content: space-between;
    .City{
      p{
        font-size: 45px;
        margin: 10px 0 0 0;
      }
    }
    .Description{
      font-size: 30px;
      p{
        margin: 10px 0 0 0;
      }
    }
    .Icon {
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
  .Daily-Data{
    display: flex;
    margin-top: 430px;
  }
  }
}
html{
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.10), 
      rgba(255, 255, 255, 0.10)
    ),
      url('./assets/sunset-background2.jpeg');
    background-size: cover;
}




